<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head'); %>
          <div class="content">
            <div class="container-fluid margen">
                <a class="icoCRUD" href="/createCandidato">
                   <span class="material-icons">  person_add</span> 
                </a>
            </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-header card-header-primary">
                      <h4 class="card-title ">Candidatos</h4> </div>
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table">
                          <thead class=" text-primary">
                            <th>  Id </th>
                            <th> Nombre</th>
                            <th> Cargo </th>
                            <th> Lista </th>
                            <th class="centra"> Acciones </th>
                          </thead>
                          <tbody>
                            <% results.forEach((candidato)=>{ %>
                            <tr>
                              <td><%= candidato.id %> </td>
                              <td><%= candidato.nombre %></td>
                              <td><%= candidato.cargo %></td>
                              <td><%= candidato.lista %></td>
                              <td>
                                  <a href="/editCandidato" class="icoCRUD">Editar</a>
                                  <a href="/editCandidato" class="icoCRUD">Eliminar</a>
                              </td>
                            </tr>
                          <% }) %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  </body>
<%- include('partials/pie'); %>
</html>