<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head'); %>
   
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Crear Candidato</h4>
                </div>
                <div class="card-body">
                  <form action="/save" method="POST">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Nombre</label>
                          <input name="nombre" type="text" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Funcion</label>
                          <select id="funcion" name="funcion" class="form-control" required>
                            <option>--Selecciona la funcion--</option>
                            <% funcion.forEach((f)=>{ %>
                                <option value="<%= f.id_funcion%>"><%= f.funcion %></option>
                            <% } )%>
                        </select>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Cargo</label>
                          <select id="cargo" name="cargo" class="form-control" required>
                            <option>--Selecciona el cargo--</option>
                            <% cargo.forEach((n)=>{ %>
                                <option value="<%= n.id_cargo%>"><%= n.cargo %></option>
                            <% } )%>
                        </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-8">
                        <div class="form-group">
                          <label class="bmd-label-floating">Lista</label>
                          <input id="lista" name="lista" type="text" class="form-control">
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Crear Candidato</button>
                    <a class="btn btn-primary pull-right" href="/Candidatos">Cancelar</a>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
              