<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head'); %>
   
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Crear Votante</h4>
                </div>
                <div class="card-body">
                  <form action="/save_Votante" method="POST">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Identificacion</label>
                          <input name="identificacion" type="number" maxlength=10 class="form-control">
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Nombre</label>
                          <input name="nombre" type="text" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Apellido</label>
                          <input name="apellido" type="number" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-8">
                        <div class="form-group">
                          <label class="bmd-label-floating">Facultad</label>
                          <input id="Facultad" name="facultad" type="text" class="form-control">
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Crear Votante</button>
                    <a class="btn btn-primary pull-right" href="/votantes">Cancelar</a>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include('partials/pie'); %>

    <% if(typeof alert != "undefined") { %>
            <script>
                Swal.fire({
                    title: '<%= alertTitle %>',
                    text: '<%= alertMessage%>',
                    icon: '<%= alertIcon %>',
                    showConfimButton: <%= showConfirmButton %>,
                    timer: <%= time%>
                }).then(()=>{
                    window.location ='/<%=ruta%>'
                })
            </script>
    <%}%>
</body>
</html>
              