<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head-votante'); %>
     <% if (login) {%>
        <div class="dropdown" style="float: right;">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
             <%= name %>
           </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="logout">Cerrar Sesion</a></li>
            </ul>
        </div> 
      <h1>Bienvenido <%= name %> a las votaciones UG</h1>
       <%  } %>       
         
        <h2>Rector</h2>
        
        <select id="funcion" name="funcion" class="form-control" required>
          <option>--Selecciona el rector--</option>
        <% candidatos.forEach((c)=>{ %>
          <% console.log(c); if (c.id_cargo=== 1) {%>
            <option value="<%= c.lista%>"><%= c.lista + c.nombre%></option>
           <% } });%>
          </select>
          <h2>Vicerrector</h2>
        <select id="funcion" name="funcion" class="form-control" required>
          <option>--Selecciona el vicerrector--</option>
        <% candidatos.forEach((c)=>{ %>
          <% console.log(c); if (c.id_cargo=== 2) {%>
            <option value="<%= c.lista%>"><%=c.lista + c.nombre%></option>
           <% } });%>
          </select>
          <h2>HCU</h2>
        <select id="funcion" name="funcion" class="form-control" required>
          <option>--Selecciona la funcion--</option>
        <% candidatos.forEach((c)=>{ %>
          <% console.log(c); if (c.id_cargo=== 3) {%>
            <option value="<%= c.lista%>"><%=c.nombre%></option>
           <% } });%>
          </select>
    <input type="submit" value="Votar"/>
<%- include('partials/pie'); %>
</body>
</html>